// colors
$primaryColor: #fcbf49;
$secondaryColor: #657ed4;
$lightBlue: #e8ecfa;
$textBlack: #121212;
$textGray: #a9a9a9;

// transitions
$defaultTransition: all 0.3s ease-in-out;

//shadows
$defaultShadow: 0 3px 10px rgba(0, 0, 0, 0.15);
